.jumbotron {
  text-align: center;
}

.hero1 {
  text-align: center;
}

.headShot {
  padding: 10px 10px;
  margin: auto;
}

#quote {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2em;
}
